.section {
    height: 100vh;
    background: radial-gradient(#91c2e4, #3d65b8);
    position: relative;
}

#portrait {
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /*border: 3px solid black;*/
    box-shadow: 15px 5px 25px 1px;
}


#portrait > img {
    background-size: cover;
    width: 110%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}